#
# Sample configuration file to establish a IPsec tunnel between IPQ and
# a Linux Traffic Generator. User needs to modify the file based on requirement
# and setup configuration. Make sure to keep the configurations in sync between
# the IPQ and the Linux Traffic Generator.
#

config ipsec
	option debug '4'

config remote 'lan'
	option enabled '1'
	# Modify the local_ip and gateway based on setup configurations
	option local_ip '192.168.1.1'
	option gateway '192.168.1.10'
	option authentication_method 'pubkey'
	option local_identifier 'C=US, O=Qualcomm Corporation, CN=alder'
	option remote_identifier 'C=US, O=Qualcomm Corporation, CN=sclinux08'
	option local_cert 'alder.crt'
	option local_key 'alder.key'
	option ca_cert 'smallcell.crt'
	option rekeytime '4h'
	option keyingretries '0'
	option mobike 'no'
	option fragmentation '1'
	list crypto_proposal 'ike_proposal'
	list tunnel 'tun_sc_fsm'

config crypto_proposal 'ike_proposal'
	# Update the algorithm from the supported list
	option encryption_algorithm 'aes128-sha1'
	option dh_group 'modp2048'

config tunnel 'tun_sc_fsm'
	# Modify the local and remote subnets based on setup configurations
	list local_subnet '192.168.10.0/24'
	list remote_subnet '172.168.10.0/24'
	option rekeytime '4h'
	option startaction 'start'
	option closeaction 'none'
	list crypto_proposal 'esp_proposal'
	option updown '/usr/lib/ipsec/_updown'

config crypto_proposal 'esp_proposal'
	# Update the algorithm from the supported list
	option encryption_algorithm 'aes128-sha1'
